.container{
    width:100%;
}

#logo{
    font-family: 'Libre Barcode 128 Text', cursive;
    margin-left: 25px;
    font-size: 50px;
}

a:hover{
 text-decoration: none;
 color:black;
}

.row{
    padding-top:20px;
}
.greetingdiv{
    margin-top:30%;
    
}
.greeting{
    font-size:50px;
}
.profilePic{
    margin-top:20px;
  
}
#brandStatediv{
   margin-top: 40px;
   margin-bottom: 80px;
}
.brandState{
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}
.icon{
    height:30px;
    width:30px;
    margin-left:20px;
    float: left;
}

.carousel .carousel-item {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

h3{
    text-align: center;
}