body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #7777;
    background-image: url("../images/playstation-pattern.png");
   
}

.content{
    width: 97%;
    background-color: #ffffff;
    margin: 0 auto;


}

.clearfix::after {
    content: "";
    display: block;
    clear:both;
}

header{
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

h1{
    background-color:#4aaaa5;
    color:#ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:24px;
    padding:10px;
    float: left;

    
}

h2{
    float: right;
    margin-top:15px;
}

a{
    color: #cccccc;
    text-decoration: none;
}
a:hover{
    color: #4aaaa5;
}

#contact {
    padding-left :5px;
    border-left: 1px solid #cccccc;
}

#portfolio{
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #cccccc;
}

#about{
    padding-right: 5px;
}



.main-content{
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin-top: 60px;
    margin-bottom: 60px;
    width:75%;
    float:left;
    
}

section{
    margin: 20px;
}
#content-head{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:24px;
    border-bottom: 2px solid #dddddd;
    


}

#bio-image{
    width:200px;
    height:200px;
    float: left;
    margin-right: 10px;
}
#bio-para{
    line-height: 150%;
    font-weight: 200;
    font-family: 'Shadows Into Light', cursive;
    font-size: 15px;
}

footer{
    position: fixed;
    bottom: 0;
    color:#ffffff;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    clear: both;
    width: 100%;
    text-align: center;
    padding-top:30px;
    padding-bottom:2px;
   
}



form {
    clear: both;
    margin: 0 auto;
}
.text{
    width:100%;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 8px;
    color: #777777;
}
.submit{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    margin-top: 8px;

}
textarea{
    width:100%;
    height: 150px;
    box-sizing: border-box;
    padding: 15px;
    border-color: #cccccc;
    margin-top: 8px;
    
}

img {
    width: 250px;
    height: 150px;
}

.pic{
    float: left;
    position: relative;
}

h4{
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    text-align: center;
    background-color: #ffffff;
    color: #4aaaa5;
    box-sizing: border-box;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

@media screen and (max-width: 768px){
    .content{
        width:90%;
    }
    .main-content{
        width:100%;
        margin: 60px auto;
    }
}

@media screen and (max-width: 640px){
    h1{
        clear: both;
        text-align: center;
        width:100%;
    }

    .navbar{
        width: 155px;
        margin: 0 auto;
        
        
    }

    .content{
        width: 100%;
       
    }

    .main-content{
       width:95%;
       margin: 80px 0 100px 10px;
        

    }
}